body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 20px;
}



.image-gallery img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.image-gallery img {
    width: 25%;
    height: auto;
    margin: 10px;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .image-gallery img {
        width: 50%;
    }
}


@media screen and (max-width: 480px) {
    .image-gallery img {
        width: 100%;
    }
}
